body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, #C1D938, #E22A2A);
}

header {
    background-image: linear-gradient(to right, #FA0000, #15FF00);
    padding: 20px 0;
}

h1 {
    text-align: center;
    margin: 0 0 15px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #083f4d;
    font-family: cursive;
    font-weight: bold;
}

nav a:hover {
    color: rgba(255, 230, 0, 0.925);
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

main div {
    background-color: rgba(255, 255, 255, 0.3);
    border: 5px solid gray;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 20px rgb(26, 25, 25);
    transition: 0.3s;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main div:hover {
    transform: scale(1.1);
}

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.video-bottom {
    text-align: center;
    padding: 20px;
}

.video-bottom iframe {
    border-radius: 15px;
    border: 5px solid white;
}

footer {
    background-image: linear-gradient(to right, #15FF00, #00F6FF);
    padding: 30px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #083f4d;
    font-weight: bold;
}
