body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, #C1D938, #E22A2A);
}

h1 {
    text-align: center;
}

header {
    background-image: linear-gradient(to right, #FA0000, #15FF00);
    margin: 0;
}
nav{
    text-align: center;
}

a{
   text-decoration: none;

}
footer{
    background-image: linear-gradient(to right, #15FF00, #00F6FF);
    margin: 0; 
}
