body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, green, blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(9, 255, 0);
    padding: 20px 0;
}

h1 {
    text-align: center;
    color: yellow;
    margin: 0;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #083f4d; 
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
    flex: 1; 
}

div {
    background-color: rgba(255, 255, 255, 0.3);
    border: 5px solid gray;
    border-radius: 15px;
    padding: 10px;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgb(26, 25, 25);
    transition: 0.3s;
}

div:hover {
    transform: scale(1.1);
}

div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    background-image: linear-gradient(to right, #15FF00, #00F6FF);
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-weight: bold;
    color: #083f4d;
}
