body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, rgb(246, 250, 0), rgb(255, 166, 0));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(255, 0, 0);
    padding: 20px 0;
}

h1 {
    text-align: center;
    color: yellow;
    margin: 0;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: rgb(246, 250, 0);
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
    flex: 1;
}

main div {
    background-color: rgba(255, 255, 255, 0.4);
    border: 4px solid white;
    border-radius: 15px;
    padding: 5px;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

main div:hover {
    transform: scale(1.1);
    background-color: white;
}

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-image: linear-gradient(to right, #15FF00, #00F6FF);
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-weight: bold;
    color: #083f4d;
}
